*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
html{
    font-size: 16px;
}

.container {
    max-width: 90vw;
    height:auto;
    overflow: hidden;
    margin: 0px auto;
    box-shadow: 0px 0px 2px #333;
    
}

.container .navbar{
    width: 100%;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8rem 2rem;
    position: relative;
}
.container .navbar .logo{
    font-weight: 500;
    letter-spacing: 0.2rem;

   /* margin-left: 32px;*/
}
.container .navbar ul li {
    margin: 0.8rem 1.2rem;
    border-radius: 4px;
    background-color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.container .navbar:after{
    content: "";
    width: 800px;
    height:800px;
    background-color: orange;
    position: absolute;
    top:0px ;
    right: 0px;
    z-index:-1;
    clip-path: circle(50% at 100% 11%);

}
.container .navbar ul li:hover{
    transform: translateX(2px);

}
/* start  intro section */

.container .introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.3rem;
}
.container .introduction .intro-conetent {
 width: 48%;
 height: 80%;
 padding-left: 2rem;
}
.container .introduction .intro-conetent h3{
   font-size: 1.5rem;
   font-weight: 400;
   margin-top: 4.2rem;

}
.container .introduction .intro-conetent p {
    font-size: 14px;
    color:#333333;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    font-weight:400;
    line-height: 1.2rem;
}
.container .introduction .intro-conetent button{
    padding: 0.8rem 1.2rem ;
    background-color: orange;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-radius:42%;
    outline: none;
    margin-top: 2rem;
    cursor: pointer;
}





.container .introduction .intro-media{
    width: 48%;
    height: 80%;
}
.container .introduction .intro-media img{
    margin-top:42px;
    margin-left: 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #333;

}





 /* end intro section */
