*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 100%;
    height: 100%;
}
html{
    font-size: 16px;
}

.container {
    max-width: 90vw;
    height:auto;
    overflow: hidden;
    margin: 0px auto;
    box-shadow: 0px 0px 2px #333;
    
}

.container .navbar{
    width: 100%;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8rem 2rem;
    position: relative;
}
.container .navbar .logo{
    font-weight: 500;
    letter-spacing: 0.2rem;

   /* margin-left: 32px;*/
}
.container .navbar ul li {
    margin: 0.8rem 1.2rem;
    border-radius: 4px;
    background-color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.container .navbar:after{
    content: "";
    width: 800px;
    height:800px;
    background-color: orange;
    position: absolute;
    top:0px ;
    right: 0px;
    z-index:-1;
    clip-path: circle(50% at 100% 11%);

}
.container .navbar ul li:hover{
    transform: translateX(2px);

}
/* start  intro section */

.container .introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.3rem;
}
.container .introduction .intro-conetent {
 width: 48%;
 height: 80%;
 padding-left: 2rem;
}
.container .introduction .intro-conetent h3{
   font-size: 1.5rem;
   font-weight: 400;
   margin-top: 4.2rem;

}
.container .introduction .intro-conetent p {
    font-size: 14px;
    color:#333333;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    font-weight:400;
    line-height: 1.2rem;
}
.container .introduction .intro-conetent button{
    padding: 0.8rem 1.2rem ;
    background-color: rgb(233, 154, 6);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-radius:42%;
    outline: none;
    margin-top: 2rem;
    cursor: pointer;
}





.container .introduction .intro-media{
    width: 48%;
    height: 80%;
}
.container .introduction .intro-media img{
    margin-top:42px;
    margin-left: 32px;
    border-radius: 50%;
    box-shadow: -63px 33px 90px -27px rgba(0,0,0,0.26);
    -webkit-box-shadow: -63px 33px 90px -27px rgba(0,0,0,0.26);
    -moz-box-shadow: -63px 33px 90px -27px rgba(0,0,0,0.26);

}





 /* end intro section */
/*start contact section*/
 
.container .contact-section{
    width: 80%;
    min-height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}
.container .contact-section div{
  width: 200px;
  height: 140px;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #333;
  outline: none;

}
.container .contact-section div p{
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
.container .contact-section div span{
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  display: block;
  margin-top: 12px;
}
.container .contact-section div i {
    display: block;
    margin: 8px auto;
    text-align: center;

}

/*end contact section*/
/* start section About us */
.container .about{
    width: 100vw;
    height:100vh;
    position: relative;
    margin-top: 52px;


}
.container .about::before {
 
    content: "";
    width: 650px;
    height: 650px;

    background-color: orange;
    position: absolute;
    top:50px;
    left:0px;
    z-index: -1;
    clip-path: circle(50% at 3% 51%);

}
.container .about .about-left{
    width: 50%;
    height: 100%;
    border: 1px solid white;
    position: relative;
}
.container .about .about-right{
    width: 50%;
    height: 100%;
    position: relative;

}
.container .about .about-left img  {

    width: 400px ;
    height: 400px ;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.container .about .about-right h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom:22px;
    color:#272727
}
.container .about .about-right p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.909);
}
.container .about .about-right button{

    padding: 10px 16px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
    border-radius:50%;
    cursor: pointer;
}
.container .about .about-right .img-dev{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius:50%;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.container .about .about-right .img-dev img{

    width:auto;
    height:100%;
}

/* end section About us */
/* start work section*/
.container .work {
width:100%;
height:100vh;
margin-top: 32px;

}

.container .work .work-intro {
 width: 80%;
 min-height: 100px;
 margin: 0px auto;

}
.container .work .work-intro h6,h2,p{
    width: fit-content;
    margin: 16px auto;
    text-align: center;
    line-height: 22px;
    letter-spacing: 1px;
}
.container .work .work-intro h6{
    color: orange;
}
.container .work .work-intro h2{
    font-weight: 500;
    color: #272727;
}
.container .work .work-intro p{
    color: #272727e6;
    font-size: 14px;
}
.container .work .work-content  {
   width: 80%;
   height: 100%;
   margin: 0px auto;
}
.container .work .work-content  div {
    width: 260px;
    padding: 16px;
    text-align: center;
    border: 1px solid #333333;
    border: none;
}
.container .work .work-content div h4{
    letter-spacing: 1px;
    font-weight: 500;
}
.container .work .work-content div p{
    font-size: 12px;
}






/* end work section*/



