*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}

.container {
    max-width: 90vw;
    height: auto;
    overflow: hidden;
    margin: 0px auto;
    border: 1px dashed lightcoral;
}
.container .navbar{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 32px;
}
.container .navbar .logo{
    font-weight: 500;
    letter-spacing: 2px;
   /* margin-left: 32px;*/
}
.container .navbar ul li {
    margin: 10px 20px;
    border-radius: 4px;
    background-color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: small;
    font-weight: 600;
}